#main-info {
    background: #444444 url(../img/azazel.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    color: white;
    height: 700px;
    line-height: 700px;
    transition: background-size 0.5s;
}

#main-info div {
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    margin-left: 200px;
}


.name {
    text-align: center;
    font-size: 140px;
    margin-top: 1px;
    margin-bottom: 1px;
}

#info-about-azazel {
    height: 800px;
    overflow: hidden;
}

#artem-img {
    background: url(../img/artem.jpg) no-repeat;
    background-size: cover;
    height: 600px;
    margin: 100px;
    border-radius: 30px;
    float: left;
    width: 20%;
}

#about-artem {
    color: white;
    font-size: 25px;
    margin: 100px;
}


#team-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
}

#team-grid div {
    width: 300px;
    height: 150px;
    display: grid;
    place-items: center;
    border-radius: 30px;
    transition: transform 0.5s;
}

#team-grid div a {
    color: white;
}


#our-services {
    height: 1000px;
    background: #171717;
}

#our-services H1 {
    text-align: center;
    color: white;
    font-size: 50px;
    padding-top: 100px;
}

#our-services H2 {
    text-align: center;
    color: white;
    font-size: 40px;
}

#services-grid {
    display: grid;
    gap: 20px;
    margin-top: 100px;
    /*grid-template-columns: auto auto;*/
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    place-items: center;
}

#services-grid div {
    cursor: pointer;
    width: 600px;
    height: 600px;
    display: grid;
    place-items: center;
    border-radius: 30px;
    transition: transform 0.5s;
}

#services-grid div:hover {
    transform: scale(1.1);
}

#services-grid div p {
    color: white;
    font-size: 25px;
    text-align: center;
    margin: 20px;
}

#reviews {
    background: #06090E;
    height: 900px;
    text-align: center;
}

#reviews H1 {
    text-align: center;
    color: white;
    font-size: 50px;
    padding-top: 100px;
}

#reviews img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    transition: all 0.5s;
}

#reviews img:hover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1.1);
}

#reviews a {
    color: white;
    font-size: 24px;
}