#tarot {
	background: url(../img/taro.jpg) #444444 no-repeat center center;
    background-size: cover;
    background-blend-mode: multiply;
}

#natal-chart {
	background: url(../img/natal_chart.jpg) #444444 no-repeat center center;
    background-size: cover;
    background-blend-mode: multiply;
}

.order {
    text-align: center;
    padding: 100px;
}


h1 {
	color: white;
	text-align: center;
	padding-top: 50px;
}

h2 {
	color: white;
	text-align: center;
	padding-top: 50px;
}

.price {
	color: #FFD600;
}

p {
	color: white;
	text-align: center;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: auto;
	max-width: 200px;
}

a {
	color: white;
}

.order-button {
	font-size: 30px;
	cursor: pointer;
	margin-bottom: 20px;
	border-radius: 20px;
	border-width: 0;
	padding-left: 40px;
	padding-right: 40px;

	transition: padding 0.5s;
}

.order-button:hover {
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
}