#reviews {
    background: #06090E;
    height: 900px;
    text-align: center;
}

#reviews H1 {
    text-align: center;
    color: white;
    font-size: 50px;
}

#reviews img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.5s;
}

#reviews img:hover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1.1);
}

#reviews a {
    color: white;
    font-size: 24px;
}

#image {
    background-image: url(../img/azazel_reviews.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}